# WIFI
SSID = "Wifi SSID"
PASSWORD = "Wifi Password"

# Google API for LinkedIn scrape
# Follow the steps in this video by Bart Slodyczka for instructions on setting up the Google API (starting at 7:19)
# https://youtu.be/2oz2d9qoMm4?si=cYfVApCIOT3UKpO8&t=439
GOOGLE_KEY = "Google Search API key"
GOOGLE_CX = "Google Custom Search Key"

# LinkedIn Query
# NOTE the '+' instead of spaces. This is because the simplified requests
GOOGLE_QUERY = "SOME+PERSONS+NAME+linkedin"